*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.global-msg{
    background: blue;
    line-height: 32px;
}
.container{
    width: 80%;
    margin: auto;
}
.global-content{
    display: flex;
    justify-content: space-between;
    color: white;
}
.socials{
    display: flex;
    gap: 25px;

}
    .socials a i{
        color: white;
    }
.nav-container{
    display:flex;
    justify-content: space-between;
    line-height: 40px;
}
.nav-bar{
    background: rgb(37, 136, 67);
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li{
    margin-left: 16px;
}
.menu ul li:hover{
    cursor: pointer;
}
/* Hero section */
.hero{
    min-height: 80vh;
    background: url(image/rabin.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    color: white;
    width: 450px;
    background: rgba(68, 67, 67, 0.8);
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;

}
/* * posts section  */ 
.posts {
  margin-top: 32px;
  display: flex;
}

.post-content {
    width: 70%;
    margin-right: 30%;
}
.side-links{
    width: 30%;
}
.country{
    background: rgb(27, 144, 39);
    padding: 40px;
    border-radius: 5px;
}
.date{
    margin-top: 30px;
    background: rgb(100, 29, 29);
    padding:40px;
    border-radius: 5px;;
}
article {
  display: flex;
  margin-top: 32px;
  height: max-content;
}

.art-img {
  width: 400px;
  margin-right: 20px;
}
/* CARD SECTION */
.card-section{
    margin-top: 40px;
    background: rgb(76, 216, 223);
    padding: 20px 0;
}
.card-list{
display: flex;
justify-content: space-between;
margin-top: 20px;
}
.card{
width: 350px;
min-height: 200px;
background: white;
border-radius: 5px;
padding-bottom: 20px;
box-shadow: -5px 5px 10px 5px rgba(43, 3, 103, 0.3);
}
.card img{
    border-radius: 5px 5px 0;
}
.btn-card{
    background: rgb(175, 172, 171);
    font-size: 18px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}
/* subscription section */
.container-subscription {
    padding: 50px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    min-height: 30px;
    margin-top: 32px;
}